<div class="bootstrap">
 <div class="home-page">
  <h2 class="home-page-title">números e gráficos de são paulo</h2>
  <p class="home-page-paragh">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus, rerum? Nihil a sunt repudiandae reprehenderit, nemo fuga eligendi praesentium similique minima. Labore dolore fuga beatae aut dolorum, doloremque officia illum!Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. </p>
  </div>
  
  
  <div class="dados">
   <div class="dados-inseridos">
    <div class="linha"></div>
    <h3 class="homepage-title">55+</h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. </p>
   </div>
   <div class="dados-inseridos">
    <div class="linha"></div>
    <h3 class="homepage-title">200+</h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. </p>
   </div>
   <div class="dados-inseridos">
    <div class="linha"></div>
    <h3 class="homepage-title">1.500+</h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
   </div>
   <div class="dados-inseridos">
    <div class="linha"></div>
    <h3 class="homepage-title">+5.000+</h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
   </div>
  </div>
</div>