.title-padder {
  padding: $title-padding;
}

h1.title {
  @extend .subtle-txt-shadow;
  padding: 0.5em 0;
}


.subtitle {
  font-weight: normal;
  margin-top: 5px;
  text-shadow: 1px 1px 2px var(--text-shadow);
}

//Shared css in _post.scss


/* --- Aligner --- */
/* within page/posts */

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0.9% 0 1.5% 0;
}

.column {
  flex: 50%;

  img {
    width: 100%;
    min-width: 250px;
  }

  .single {
    width: 50%;
    display: block;
  }
}

.bootstrap{
  display: flex;
  justify-content: space-evenly;
}


.home-page{
  width: 45rem;
  padding: 25px 25px 25px 25px;
  margin: 25px 25px 25px 25px;
}

.home-page-title{
  text-transform: uppercase;
}

.dados-ins{
  padding: 25px 25px 25px 25px;
  margin: 25px 25px 25px 25px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 1em;
}


.linha{
  width: 300px;
  border: 1px solid red;
  margin-right: 40px;
}

.homepage-title{
  margin: 0;
  text-transform: uppercase;
  font-size: 70px;
}

.dados-inseridos{
  width: 21.688rem;
}

.dashboard{
  height: 50rem;
  border-color: #ffffff00;
}

//forms

$white: rgba(255,255,255,0.3);

.espaco{
  margin-bottom: 10rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  position: absolute;
  top: 85%;

}

.contein {
  transform: translate(-50%,-50%);
  
}

.formulario {
  background: $white;
  padding: 3em;
  height: 556px;
  border-radius: 20px;
  border-left: 1px solid $white;
  border-top: 1px solid $white;
  backdrop-filter: blur(10px);
  box-shadow: 20px 20px 40px -6px rgba(235, 232, 232, 0.664);
  transition: all 0.2s ease-in-out;
}

.drop {
  background: $white;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  border-left: 1px solid $white;
  border-top: 1px solid $white;
  box-shadow: 10px 10px 60px -8px rgba(0,0,0,0.2);
  position: absolute;
  transition: all 0.2s ease;
  
  &-1 {
    height: 80px;
    width: 80px;
    top: -20px;
    left: -40px;
    z-index: -1;
  }
  
  &-2 {
    height: 80px;
    width: 80px;
    bottom: -30px;
    right: -10px;
  }
  
  &-3 {
    height: 100px;
    width: 100px;
    bottom: 120px;
    right: -50px;
    z-index: -1;
  }
  
  &-4 {
    height: 120px;
    width: 120px;
    top: -60px;
    right: -60px;
  }
  
  &-5 {
    height: 60px;
    width: 60px;
    bottom: 170px;
    left: 90px;
    z-index: -1;
  }
}

.conten {
  transform: translate(-50%,-50%);
  margin-bottom: 10rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  position: absolute;
  top: 80%;
  left: 80%;
}

.for {
  background: $white;
  padding: 3em;
  height: 400px;
  border-radius: 20px;
  border-left: 1px solid $white;
  border-top: 1px solid $white;
  backdrop-filter: blur(10px);
  box-shadow: 20px 20px 40px -6px rgba(235, 232, 232, 0.664);
  text-align: center;
  position: relative;
  transition: all 0.2s ease-in-out;
}

.dropp {
  background: $white;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  border-left: 1px solid $white;
  border-top: 1px solid $white;
  box-shadow: 10px 10px 60px -8px rgba(0,0,0,0.2);
  position: absolute;
  transition: all 0.2s ease;
  
  &-1 {
    height: 80px;
    width: 80px;
    top: -20px;
    left: -40px;
    z-index: -1;
  }
  
  &-2 {
    height: 80px;
    width: 80px;
    bottom: -30px;
    right: -10px;
  }
  
  &-3 {
    height: 100px;
    width: 100px;
    bottom: 120px;
    right: -50px;
    z-index: -1;
  }
  
  &-4 {
    height: 120px;
    width: 120px;
    top: -60px;
    right: -60px;
  }
  
  &-5 {
    height: 60px;
    width: 60px;
    bottom: 170px;
    left: 90px;
    z-index: -1;
  }
}

.authors {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
}
.author {
  flex: 1;
  text-align: center;
}
.author .author-img {
  width: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.footerrr{
  margin-bottom: 30rem;
}