.comments {
  @extend %padding-post;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  float: left;
  width: 100%;
}

article {
  @extend .comments;

  header {
    margin-bottom: 6%;
    text-align: center;
  }

  a:hover {
    @extend .body-link;
  }

  .footnotes {
    font-size: 0.9em;
  }
}

footer {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 0.9em;
  display: inline-block;
  text-align: center;

  .meta {
    display: inline;
  }

  a.button {
    margin-left: 1em;
  }
}

header {
  h1 {
    margin: 0;
  }
}

.meta {
  color: var(--meta);
  letter-spacing: 0.1em;
  margin: 0;
  text-transform: uppercase;
}

/* --- Post info --- */
.post-info {
  /* For border in author
  border: 1px solid var(--border);
  padding-left: 0.5em;
  */
  border-radius: 1em;
  padding-right: 0.5em;
  display: inline-flex;

  a {
    display: flex;
    align-items: center;

    img {
      height: auto;
    }

    &:hover {
      text-decoration: none;
    }
  }

  img {
    border-radius: 1em;
    padding: 0;
    width: 1.5em;
    height: 100%;
    margin-right: 0.5em;
  }
}

/* --- Feature image --- */
.feature-image {
  padding: 0;

  .post-link {
    color: var(--header-text);
  }

  h1.title, .post-info {
    @extend .txt-shadow;
  }

  header {
    color: var(--header-text);
    margin-bottom: 0;
    padding: 3.6% $padding-large;

    .meta {
      color: var(--header-text);
      filter: opacity(0.7);
    }
  }

  .post-content {
    @extend %padding-post;
    padding-bottom: 0;
  }

  footer {
    @extend %padding-post;
    padding-top: 0;
  }

  .feature-image-padding {
    padding: $feature-image-padding;
  }
}

/*-- feature-image Responsive scrolling --*/
.feature-image header {
  @media screen and (max-width: $break) {
    padding: $padding-large*1.5 $padding-small;
  }

  @media screen and (min-width: $break) {
    background-size: 120% auto;
  }

  @media screen and (max-width: $break) {
    background-size: 200% auto;
  }

  @media screen and (max-width: $sm-break) {
    background-size: 400% auto;
  }
}

.post-content {
  h1 { color: var(--h1); }
  h2 { color: var(--h2); }
  h3 { color: var(--h3); }
  h4 { color: var(--h4); }
  h5 { color: var(--h5); }
  h6 { color: var(--h6); }

  a {
    :visited {
      filter: saturate(0.7);
    }
  }
}

#button-header{
  width: 170px;
  height: 55px;
  background-color: #49484881;
  border: 1px solid #e4232d;
  
}

.cl-button-header{
  padding: 10px 20px 10px 20px;
  font-size: 20px;
  color: #fff;
}

.dados{
  display: flex;
    align-content: space-between;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.toc-list {
  display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-end;
    align-content: flex-end;
    justify-content: space-around;
    width: 320px;
    height: 400px;
}

.box-list{
  position: relative;
    width: 200px;
    height: 400px;
    box-shadow: 20px 20px 50px rgb(239 30 30 / 13%);
    border-radius: 15px;
    margin: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    transform-style: preserve-3d;
}
.toc{
  list-style-type: none;
  display: grid;
    align-items: start;
    justify-items: start;
    justify-content: start;
}

.li-toc{
  padding-top: 15px;
  padding-bottom: 15px;
  
}

.test{
  text-decoration: none;
  --c:linear-gradient(#e4232d 0 0); /* update the color here */
  
  padding-bottom: .15em;
  background: var(--c), var(--c);
  background-size: .3em .1em;
  background-position:50% 100%;
  background-repeat: no-repeat;
  transition: .3s linear, background-size .3s .2s linear;
}

.test:hover{
  background-size: 40% .1em;
  background-position: 10% 100%, 90% 100%;
}


.container
{
  display: grid;
    justify-content: start;
    flex-wrap: wrap;
    padding: 40px 0;
    align-items: stretch;
    justify-items: start;
    grid-template-columns: repeat(3, 0fr);
}

.container .box
{
  position: relative;
  width: 320px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 30px;
  transition: 0.5s;
}

.container .box::before
{
  content:' ';
  position: absolute;
  top: 0;
  left: 50px;
  width: 50%;
  height: 100%;
  text-decoration: none;
  background: #fff;
  border-radius: 8px;
  transform: skewX(15deg);
  transition: 0.5s;
}

.container .box::after
{
  content:'';
  position: absolute;
  top: 0;
  left: 50;
  width: 50%;
  height: 100%;
  background: #fff;
  border-radius: 8px;
  transform: skewX(15deg);
  transition: 0.5s;
  filter: blur(30px);
}

.container .box:hover:before,
.container .box:hover:after
{
  transform: skewX(0deg);
  left: 20px;
  width: calc(100% - 90px);
  
}

.container .box:nth-child(1):before,
.container .box:nth-child(1):after
{
  background: linear-gradient(315deg, #e4232d, #29020f)
}

.container .box:nth-child(2):before,
.container .box:nth-child(2):after
{
  background: linear-gradient(315deg, #e4232d, #24020e)
}

.container .box:nth-child(3):before,
.container .box:nth-child(3):after
{
  background: linear-gradient(315deg, #e4232d, #031e24)
}
.container .box:nth-child(4):before,
.container .box:nth-child(4):after
{
  background: linear-gradient(315deg, #e4232d, #022027)
}
.container .box:nth-child(5):before,
.container .box:nth-child(5):after
{
  background: linear-gradient(315deg, #e4232d, #022027)
}
.container .box:nth-child(6):before,
.container .box:nth-child(6):after
{
  background: linear-gradient(315deg, #e4232d, #022027)
}
.container .box:nth-child(7):before,
.container .box:nth-child(7):after
{
  background: linear-gradient(315deg, #e4232d, #022027)
}
.container .box:nth-child(8):before,
.container .box:nth-child(8):after
{
  background: linear-gradient(315deg, #e4232d, #022027)
}
.container .box:nth-child(9):before,
.container .box:nth-child(9):after
{
  background: linear-gradient(315deg, #e4232d, #022027)
}
.container .box:nth-child(10):before,
.container .box:nth-child(10):after
{
  background: linear-gradient(315deg, #e4232d, #022027)
}
.container .box:nth-child(11):before,
.container .box:nth-child(11):after
{
  background: linear-gradient(315deg, #e4232d, #022027)
}
.container .box:nth-child(12):before,
.container .box:nth-child(12):after
{
  background: linear-gradient(315deg, #e4232d, #022027)
}


.container .box span
{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  pointer-events: none;
}

.container .box span::before
{
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: 0.1s;  
  animation: animate 2s ease-in-out infinite;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08)
}

.container .box:hover span::before
{
  top: -50px;
  left: 50px;
  width: 100px;
  height: 100px;
  opacity: 1;
}

.container .box span::after
{
  content:'';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: 0.5s;
  animation: animate 2s ease-in-out infinite;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
  animation-delay: -1s;
}

.container .box:hover span:after
{
  bottom: -50px;
  right: 50px;
  width: 100px;
  height: 100px;
  opacity: 1;
}

@keyframes animate
{
  0%, 100%
  {
    transform: translateY(10px);
  }
  
  50%
  {
    transform: translate(-10px);
  }
}

.container .box .content
{
  position: relative;
  left: 0;
  padding: 20px 40px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1;
  transform: 0.5s;
  color: #fff;
}

.container .box:hover .content
{
  left: -25px;
  padding: 60px 40px;
}

.container .box .content h2
{
  font-size: 2em;
  color: #fff;
  margin-bottom: 10px;
}

.container .box .content p
{
  font-size: 1.1em;
  margin-bottom: 10px;
  line-height: 1.4em;
}

.container .box .content a
{
  display: inline-block;
  font-size: 1.1em;
  color: #111;
  background: #fff;
  padding: 10px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 700;
  margin-top: 5px;
}

.container .box .content a:hover
{
  background: #ff4d4d;
  border: 1px solid rgba(255, 0, 88, 0.4);
  box-shadow: 0 1px 15px rgba(1, 1, 1, 0.2);
}

// analise 

.contain
{
  display: grid;
    justify-content: start;
    flex-wrap: wrap;
    padding: 40px 0;
    align-items: stretch;
    justify-items: start;
    grid-template-columns: repeat(3, 0fr);
}

.contain .box-analis
{
  position: relative;
  width: 320px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 30px;
  transition: 0.5s;
}

.contain .box-analis::before
{
  content:' ';
  position: absolute;
  top: 0;
  left: 50px;
  width: 50%;
  height: 100%;
  text-decoration: none;
  background: #fff;
  border-radius: 8px;
  transform: skewX(15deg);
  transition: 0.5s;
}

.contain .box-analis::after
{
  content:'';
  position: absolute;
  top: 0;
  left: 50;
  width: 50%;
  height: 100%;
  background: #fff;
  border-radius: 8px;
  transform: skewX(15deg);
  transition: 0.5s;
  filter: blur(30px);
}

.contain .box-analis:hover:before,
.contain .box-analis:hover:after
{
  transform: skewX(0deg);
  left: 20px;
  width: calc(100% - 90px);
  
}

.contain .box-analis:nth-child(1):before,
.contain .box-analis:nth-child(1):after
{
  background: linear-gradient(315deg, #053677, #e4232d)
}

.contain .box-analis:nth-child(2):before,
.contain .box-analis:nth-child(2):after
{
  background: linear-gradient(315deg, #053677, #e4232d)
}

.contain .box-analis:nth-child(3):before,
.contain .box-analis:nth-child(3):after
{
  background: linear-gradient(315deg, #053677, #e4232d)
}

.contain .box-analis:nth-child(4):before,
.contain .box-analis:nth-child(4):after
{
  background: linear-gradient(315deg, #053677, #e4232d)
}

.contain .box-analis:nth-child(5):before,
.contain .box-analis:nth-child(5):after
{
  background: linear-gradient(315deg, #053677, #e4232d)
}

.contain .box-analis:nth-child(6):before,
.contain .box-analis:nth-child(6):after
{
  background: linear-gradient(315deg, #053677, #e4232d)
}

.contain .box-analis:nth-child(7):before,
.contain .box-analis:nth-child(7):after
{
  background: linear-gradient(315deg, #053677, #e4232d)
}

.contain .box-analis:nth-child(8):before,
.contain .box-analis:nth-child(8):after
{
  background: linear-gradient(315deg, #053677, #e4232d)
}

.contain .box-analis:nth-child(9):before,
.contain .box-analis:nth-child(9):after
{
  background: linear-gradient(315deg, #053677, #e4232d)
}

.contain .box-analis:nth-child(10):before,
.contain .box-analis:nth-child(10):after
{
  background: linear-gradient(315deg, #053677, #e4232d)
}

.contain .box-analis:nth-child(11):before,
.contain .box-analis:nth-child(11):after
{
  background: linear-gradient(315deg, #053677, #e4232d)
}

.contain .box-analis:nth-child(12):before,
.contain .box-analis:nth-child(12):after
{
  background: linear-gradient(315deg, #053677, #e4232d)
}

.contain .box-analis:nth-child(13):before,
.contain .box-analis:nth-child(13):after
{
  background: linear-gradient(315deg, #053677, #e4232d)
}



.contain .box-analis span
{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  pointer-events: none;
}

.contain .box-analis span::before
{
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: 0.1s;  
  animation: animate 2s ease-in-out infinite;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08)
}

.contain .box-analis:hover span::before
{
  top: -50px;
  left: 50px;
  width: 100px;
  height: 100px;
  opacity: 1;
}

.contain .box-analis span::after
{
  content:'';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: 0.5s;
  animation: animate 2s ease-in-out infinite;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
  animation-delay: -1s;
}

.contain .box-analis:hover span:after
{
  bottom: -50px;
  right: 50px;
  width: 100px;
  height: 100px;
  opacity: 1;
}

@keyframes animate
{
  0%, 100%
  {
    transform: translateY(10px);
  }
  
  50%
  {
    transform: translate(-10px);
  }
}

.contain .box-analis .contente
{
  position: relative;
  left: 0;
  padding: 20px 40px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1;
  transform: 0.5s;
  color: #fff;
}

.contain .box-analis:hover .contente
{
  left: -25px;
  padding: 60px 40px;
}

.contain .box-analis .contente h2
{
  font-size: 2em;
  color: #fff;
  margin-bottom: 10px;
}

.contain .box-analis .contente p
{
  font-size: 1.1em;
  margin-bottom: 10px;
  line-height: 1.4em;
}

.contain .box-analis .contente a
{
  display: inline-block;
  font-size: 1.1em;
  color: #111;
  background: #fff;
  padding: 10px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 700;
  margin-top: 5px;
}

.contain .box-analis .contente a:hover
{
  background: #ff4d4d;
  border: 1px solid rgba(255, 0, 88, 0.4);
  box-shadow: 0 1px 15px rgba(1, 1, 1, 0.2);
}